.statistics{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3%;
    width: 300px;
    box-shadow: 1px 0px 10px 0px rgba(66, 68, 90, 0.38);
}
.title{
    font-size: 28px;
    margin-bottom: 30px;
}
.statList{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.item{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 20px;
    margin-bottom: 6px;
}
.percentage{
    font-size: 16px;
}